<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- post -->
    <h2> Edit your Post</h2>
    <div> 
            <h3> Post id : <%= post.id %></h3>
            <h4> Username : <%= post.username %></h4>
    </div>

    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" rows="10" cols="25"><%=post.content%></textarea>
        <button> Submit</button>
    </form> 
</body>
</html>